body
{
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
.container-fluid
{
    padding: 3% 15% 7%;

}

/* title */

#title
{
    background-color: #ff4c68;
    color: #ffffff;
    text-align: left;
}
h1,h2,h3,h4,h5,h6
{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    line-height: 1.5;
}

.big-heading
{
    font-size: 3.5rem;
}
.navbar
{
    padding: 0 0 4.5rem;
}
.nav-item
{
    padding: 0 18px;
}
.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link
{
    font-family:"Montserrat-Thin", sans-serif ;
    font-size: 1.2rem;
}
.download-button
{
    margin: 5% 3% 5% 0;
}
.title-dog
{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right:30%;
}

/* features */

#features
{
    
    padding: 10% 15%;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}
.icon
{
    color: #ef8172;
    font-size: 50px;
    padding: 20px 0;
}
.icon:hover
{
    color: #ff4c68;
}

.feature
{
    color: gray;
    font-weight: 500;
}
.some
{
    padding-left: 50px;
    padding-right: 50px;
}

/* testimonials */

#testimonials
{
    
    background-color: #ef8172;
    color: #ffffff;
}
.carousel-item
{
    padding: 5% 8%;
}
.testimonial-image
{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

/* press */
#press
{
    
    padding-bottom:  5%;
    background-color: #ef8172;
    color: #ffffff;
}
.press-image
{
    width: 15%;
    margin: 2% ;
}
/* pricing */
#pricing
{
    
    margin: 10% 15%;
}
.pricing-column
{
    padding: 3% 2%;
}

/* responsiveness */
@media(max-width: 1028px)
{
    #title
{
    text-align: center;
}
    .title-dog
{
    transform: rotate(0deg);
    position: static;
}
}

/* cta */

#cta
{
    background-color:#ff4c68 ;
    
    color: #ffffff;
    padding: 7% 15%;
}

.cta-heading
{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

/* footer */

#footer
{
    
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px 10px 0;
    
    line-height: 40px;
    border-radius: 50%;
    color:rgb(42, 36, 36);
    transition: all 0.5s ease;
}
.copyright
{
    color: gray;
    padding-bottom: 30px;
}
